.userOutput{
  width: 20%;
  margin: 15px auto 15px auto; 
  border: 1px solid #eee;
  border-left: 6px solid plum;
  box-shadow: 0 2px 3px #ccc;
  padding: 20px;
  background: white;
  text-align: center;
  box-shadow: inset 0 0 0 0 white;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.userOutput:hover{
  color:white;
  font-size: large;
  font-weight: bold;
  box-shadow: inset 900px 0 0 0 plum;
  border-left: 6px solid plum;
  padding: 20px;
  text-align: center;
}